{% from "_formhelpers.html" import render_field %}

{% extends 'inline_modal.html' %}
{% block title %}Forgot Password{% endblock %}
{% block header %}Forgot Password{% endblock %}
{% block content %}
<form method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.email) }}
    <div class="actions">
        <button type="submit" class="btn btn-primary btn-block">Send Reset Password Email</button>
    </div>
    <div class="footer text-center">
        <a class="link" href="{{ url_for('auth.login') }}">Already have an account?</a>
    </div>
</form>
{% endblock %}
